/*------------------Import Font---------------*/
@font-face {
  font-family: Aaargh;
  src: url("../fonts/Aaargh.otf");
}

.NavBar {
  padding-top: 3vw;
  display: block;
  float: left;
  background-color: #333;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.NavBarVertical {
  display: inline-block;
  background-color: #333;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.Logo {
  padding-top: 0.9vw;
  padding-bottom: 0.9vw;
  width: 4vw;
  height: 1.3vw;
}

.LogoTab {
  display: inline-block;
  padding-left: 2.95vw;
  padding-right: 2.95vw;
  height: auto;
  display: flex;
  float: left;
}

.VTabsLeft,
.VTabs {
  display: inline-block;
  color: white;
  font-family: Aaargh;
  text-decoration: none;
  padding: 1vw 2vw;
}

.VTabsLeft {
  float: right;
}

.Tabs {
  display: block;
  color: white;
  font-family: Aaargh;
  text-decoration: none;
  padding: 1vw 2vw;
}

.VTabsLeft:hover,
.LogoTab:hover,
.VTabs:hover ,
.Tabs:hover {
  background-color: orange;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
