/*--------FONTS-------*/
 @font-face {
   font-family: UniSansThin;
   src: url("../fonts/Uni-Sans-Thin.otf");
 }

 @font-face {
   font-family: Aaargh;
   src: url("../fonts/Aaargh.otf");
 }

 @font-face {
   font-family: mono-space;
   src: url("../fonts/Anonymous_Pro.otf");
 }
/*--------------------*/

body {
  margin:0;
  padding:0;
}

.TopBox {
  margin: 0;
  padding: 0;
}

.blur {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

img {
  width: 100%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -2;
  clip:
}

h1 {
  font-family: sans-serif;
  font-size: 8vw;
  text-align: center;
  transform: translateY(100%);
  z-index: 10;
  color: white;
  position: relative;
}
